// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
Site styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Site Main Header
--------------------------------------------------------------*/

.site-header {
  background-color: $color__yellow;
  height: auto;
}
.top-nav {
  float: none;
  padding: 12px;
  .top-search, .home-link {
    display: inline-block;
    font-size: .8rem;
  }
  .home-link {
    padding-right: 14px;
    a {
      text-decoration: none;
    }

    span {
      display: none;
      font-size: 1.7rem;
      position: relative;
      top: 4px;
      left: -4px;
      font-weight: lighter;
    }
  }
  .top-search {
    input {
      border-radius: 20px;
      padding: 2px 0 2px 12px;
    }
  }
}
.site-branding {
  width:250px;
  height:150px;
  float: left;
  margin: 12px;
}

.site-header .site-branding img {
  max-width: 250px;
  float: left;
}
.main-navigation {
  position: relative;
  top: -8px;
  left: 8px;
  li {
    padding-top: 12px;
  }
}
.main-banner {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content {
  position: relative;
  padding:12px;
  background-color: rgba(255,255,255,.73);
  width: 75%;
  height: 450px;
  margin: 0px 12.5%;
  h2 {
    text-transform: uppercase;
    color: $color__darkblue;
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  p {
      font-size: 1.5rem;
  }
}

.btn {
    background: $color__red;
    padding: 12px 55px;
    border-radius: 24px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    &:hover{
      color: $color__yellow;
      text-decoration: underline;
    }
}

.home-flourish {
    @include center-block;
    text-align: center;
    position: relative;
    top: -1.2rem;
    max-width:75%;
  h2 {
    color: white;
    position: relative;
    top: -65px;
  }
}

.center-content {
  @include center-content;
}
.front-page .cont .entry-content {
    margin-top: -5rem;
    padding: 0 8%;
  }

/*--------------------------------------------------------------
Responsive - Large screens
--------------------------------------------------------------*/
@media screen and (min-width:1140px){
  .site-header {
    height: 125px;
  }
  .main-navigation {
    top: -65px;
  }
  .main-navigation li {
    padding-top: 0;
  }
  .banner-content {
    margin: 0 0;
    width: 32%;
    right: -55%;
  }
  .site-branding, .top-nav {
    padding: none;
    margin: auto;
  }
  .home-flourish {
    width: 600px;
    h2 {
      top: -80px;
    }
  }
}

/*--------------------------------------------------------------
Responsive - mid-size screens
--------------------------------------------------------------*/
@media screen and (min-width:600px) and (max-width:1139px){
  .banner-content {
    width: 50%;
    margin: 0px 25%;
    right: auto;
  }
  .site-header {
    height: auto;
  }
  .main-navigation {
    top: auto;
  }

}

/*--------------------------------------------------------------
Responsive - all above small
--------------------------------------------------------------*/
@media screen and (min-width:600px) {
  .top-nav .home-link span {
    display: inline-block;
  }
  .top-nav {
    float: right;
  }
  .home-link {
    span {
      display: inline-block;
    }
  }
  .home-flourish {
    h2 {
      top: -80px;
    }
  }
  .front-page .cont .entry-content {
    margin-top: -6rem;
    padding: 0 14%;
  }
  .product-slider {
    .slider-content {
      @include center-content;
      img {
        display: inline-block;
        margin: 0 12px;
      }
    }
  }

}
