// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
Site styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
Site Main Header
--------------------------------------------------------------*/

.site-header {
  background-color: $color__yellow;
  height: auto;
}
.top-nav {
  float: none;
  padding: 12px;
  text-align: center;
  .top-search, .home-link {
    display: inline-block;
    font-size: .8rem;
  }
  .home-link {
    padding-right: 14px;
    a {
      text-decoration: none;
    }

    span {
      display: none;
      font-size: 1.7rem;
      position: relative;
      top: 4px;
      left: -4px;
      font-weight: lighter;
    }
  }
  .top-search {
    input {
      border-radius: 20px;
      padding: 2px 0 2px 12px;
    }
  }
}

.site-branding {
    width: 75%;
    float: none;
    margin: 0 auto;
}
.site-header .site-branding img {
    width: auto;
    float: left;
    height: auto;
}
.main-navigation {
  position: relative;
  top: -8px;
  left: 8px;
  li {
    padding-top: 12px;
  }
}
// styling for slicknav plugin
.slicknav_nav li a {
    text-align: center;
}
.main-banner {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content {
  position: relative;
  padding:12px;
  background-color: rgba(255,255,255,.73);
  width: 75%;
  height: 450px;
  margin: 0px 12.5%;
  h2 {
    text-transform: uppercase;
    color: $color__darkblue;
    font-weight: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  p {
      font-size: 1.5rem;
  }
}

.btn {
    background: $color__red;
    padding: 12px 55px;
    border-radius: 24px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    &:hover{
      color: $color__yellow;
      text-decoration: underline;
    }
}

.home-flourish {
    @include center-block;
    text-align: center;
    position: relative;
    margin-top: -33px;
    width: auto;
    height: 60px;
  h2 {
    color: white;
    position: relative;
    margin-top:-55px;
  }
}
.home-flourish-2 {
    @include center-block;
    text-align: center;
    position: relative;
    margin-top: 0;
    width: auto;
    height: 60px;
  h2 {
    color: white;
    position: relative;
    margin-top:-30px;
  }
}

.center-content {
  @include center-content;
}
.front-page .cont .entry-content {
    margin-top: 2%;
    padding: 0 8%;
}

// slick slider
.product-slider {
  .slider-content {
    @include center-content;
    height: 350px;
  }
}
.product-slider h3 {
  text-align: center;
  color: $color__brown;
  text-transform: uppercase;
  font-size:2rem;
  padding-top: 22px;
}
.prod-single {
  background-color: white;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0;
  width: 200px;
  margin: 0 14px;
  p {
    padding: 0 10px;
    color: $color__textgray;
  }
}
.home-cta {
  background-color: white;
  .dots {
    width: 92%;
    border-bottom: 6px dotted;
    margin: 26px auto 16px 4%;
    float: left;
  }
  h3 {
    color: $color__darkblue;
    font-weight: normal;
    font-size: 1.5rem;
    padding-right: 115px;
  }
  .cta-left {
    width: 98%;
    position: relative;
    top: 0;
    float: left;
    padding: 0 4% 20px 4%;
  }
  .cta-right {
    width: 98%;
    float: left;
  }
}
.home-flourish-2 {
    padding-top: 24px;
}
.home-cta-2 {
    background-color: $color__yellow;
    display: inline-block;
    .cont {
      background-color: $color__yellow;
    }
    h3 {
      color: white;
      margin-top: -48px;
      font-size: 1.2rem;
    }
    .cta-2-left {
      width: 98%;
      display: inline-block;
      float: left;
      margin-top:65px;
    }
    .cta-2-right {
      width: 98%;
      display: inline-block;
      float: left;
      position: relative;
      top: 0;
      padding:0 2% 20px 2%;
      h4 {
        color: black;
        margin-top: 0;
        font-size: 1.5rem;
        font-weight: normal;
      }
      p {
        padding-bottom: 20px;
      }
    }
}
.blue-block {
  display: none;
}
.yellow-flourish {
  display: none;
}

// SUB pages

.page .cont {
  padding: 12px;
}
#page .entry-header h1 {
  padding: 20px 0;
}

// Contact page
.contact-map {

}
.contact-left, .contact-right {
  width: 98%;
  float: left;
}

.page {
  .entry-content {
    margin: 0;
  }
  .entry-header h1 {
    text-transform: uppercase;
    color: $color__brown;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }
}

// product page specific
// different from product slidermargin: 14px 8px;
.product-grid {
  text-align: center;
  .prod-single {
    display: inline-block;
    border: 1px solid #ededed;
    box-shadow: lightgrey 2px 0px 4px 2px;
    margin: 0 8px 34px 8px;
  }
}
.product-sort {
  margin: 14px 8px;
}

.home-flourish.product-flourish {
    margin-top: 0;
    margin-bottom: 70px;
    h2 {
      margin-top: -58px;
    }
}



select.filters-select {
  $bg-color: white;
  $text-color: #707070;
  -webkit-appearance: none;
  background: {
    color: $bg-color;
    image: url("/wp-content/themes/GPF_Subsite/assets/img/down-caret-1.png");

    position: 175px 20px;
    repeat: no-repeat;
  }
      color: $text-color;
      padding: 0 0 0 12px;
      border: 1px solid;
      border-color: #ccc;
      cursor: pointer;
      width: 200px;
      text-align: center;
      height: 45px;
}

// Removes default arrow for IE10+
// IE 8/9 get dafault arrow which covers caret image
// as long as caret image is small than and positioned
// behind default arrow
select::-ms-expand {
    display: none;
}




/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.site-footer {
  background-color: $color__darkblue;
  padding: 50px 0;
  color: white;
  div {color: white;}
  a {color:white;}
}


.pre-footer {
  @include center-content;
}
.pre-footer {
  padding:0 25%;
}
.site-info {
  text-transform: uppercase;
  font-size:.75rem;
  font-weight: lighter;
}
.info-left, .info-center, .info-right{
  width:100%;
  @include center-content;
}
.info-left, .info-right{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.info-center ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    display: inline-block;
    width: 50px;
    margin: 0 1%;
  }
}
#footer-logo {
  position: relative;
  left: 12px;
  top: 8px;
  width: 85px;
}

/*--------------------------------------------------------------
Responsive - Large screens
--------------------------------------------------------------*/
@media screen and (min-width:1140px){
  .main-navigation a {
    font-size: 1.2rem;
  }
  .footer-menu.yellow {
    margin-top: -85px;
    li a:hover {
      color: white;
    }
  }
  .page .cont {
    padding: 0;
  }
  .site-header {
    height: 125px;
  }
  .main-navigation {
    top: -65px;
  }
  .main-navigation li {
    padding-top: 0;
  }
  .banner-content {
    margin: 0 0;
    width: 32%;
    right: -55%;
  }
  .site-branding, .top-nav {
    padding: none;
    margin: auto;
  }
  .home-flourish {
    width: 600px;
    h2 {
      margin-top: -57px;
    }
  }
  .home-flourish-2 {
      @include center-block;
      text-align: center;
      position: relative;
      padding-top: 24px;
      width: auto;
      height: 60px;
    h2 {
      color: white;
      position: relative;
      margin-top:-30px;
    }
  }


  .home-cta {
      background-color: white;
      .dots {
        width: 45%;
        border-bottom: 6px dotted;
        margin: 26px auto 16px auto;
        float: none;
      }
      h3 {
        color: $color__darkblue;
        font-weight: normal;
        font-size: 1.5rem;
        padding-right: 115px;
      }
      .cta-left {
        width: 60%;
        display: inline-block;
        float: none;
        position: relative;
        top: -75px;
        padding: 0;
        p {
          padding:0 75px 20px 0;
        }
      }
      .cta-right {
        width: 39%;
        display: inline-block;
        float: none;
      }
    }
    .blue-block {
      display: block;
      height:350px;
      width: 100%;
      background-color: $color__darkblue;
      position: relative;
      margin-top: -300px;
      z-index: 2;
    }
    .yellow-flourish {
      display: block;
      background-image:url('/wp-content/uploads/2019/11/yellow-flourish-t.png');
      background-color: $color__darkblue;
      background-size: cover;
      background-position: center;
      width: 1140px;
      height: 80px;
      position: relative;
      z-index: 3;
    }

      .pre-footer {
        padding:0 25%;
      }
      .info-left{
        float:left;
        text-align: left;
        width:33%;
      }
      .info-center{
        float:left;
        text-align: center;
        width:33%;
      }
      .info-right {
        width:33%;
        float:right;
        text-align: right;
      }
      .info-left, .info-right{
        padding-top: 2rem;
        padding-bottom: 0;
      }

      // Contact page
      .contact-map {
        background-color: $color__lightblue;
        padding: 25px 12px;
        float: left;
        width: 100%;
      }
      .contact-left, .contact-right {
        width: 50%;
      }
      .contact-left {
        padding-right:4%;
      }
      .site-main {
        padding: 0;
        h1 {
          padding: 0;
        }
      }


}
/*--------------------------------------------------------------
Responsive - mid-size screens
--------------------------------------------------------------*/
@media screen and (min-width:600px) and (max-width:1139px){
  .banner-content {
    width: 50%;
    margin: 0px 25%;
    right: auto;
  }
  .site-header {
    height: 135px;
  }
  .main-navigation {
    top: -100px;
  }
  .home-cta {
    display: inline-block !important;
  }

  .home-cta-2 .cta-2-right {
    width: 50%;
    display: inline-block;
    float: none;
    position: relative;
    top: 0 !important;
    padding: 1px 0 35px 15px;
  }
  .home-cta-2 .cta-2-right p {
    padding-bottom: 12px;
  }
}
@media screen and (min-width:600px) and (max-width:860px){

  .site-header {
    height: auto;
  }
  .main-navigation {
    top: 0px;
    ul li {
      width: 190px;
      text-align: center !important;
    }
  }
  .home-cta-2 {
    background-color: $color__yellow !important;
    display: inline-block !important;
    height: 510px;
  }
  .home-cta-2 .cta-2-left {
    width: 30% !important;
  }
  .home-cta-2 .cta-2-right {
    width: 68% !important;
    top: 90px !important;
  }

}

@media screen and (min-width:860px) and (max-width:1139px){
  .home-cta .cta-left, .home-cta .cta-right {
    width: 48% !important;
    display: inline-block !important;
  }
  .home-cta-2 .cta-2-left {
    width: 48%;
    display: inline-block;
    float: none;
    margin-top: 100px !important;
  }
}

/*--------------------------------------------------------------
Responsive - all above small
--------------------------------------------------------------*/
@media screen and (min-width:600px) {

  .top-nav .home-link span {
    display: inline-block;
  }
  .top-nav {
    float: right;
    padding: 0;
  }
  .main-navigation {
    left: 0;
  }
  .main-navigation ul li {
    text-align: right;
  }
  .home-link {
    span {
      display: inline-block;
    }
  }
  .site-branding {
    width: 250px;
    height: 150px;
    float: left;
  }
  .site-header .site-branding img {
    max-width: 285px;
    height: auto;
    float: left;
  }
  .home-flourish {
    h2 {
      margin-top: -58px;
    }
  }
  .front-page .cont .entry-content {
    margin-top: 2%;
    padding: 0 14%;
  }
  // slick slider

  .slick-next {
    right: -35px;
  }
  .slick-prev {
    left: -65px;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 50px;
  }
  .prod-single {
    width: 250px;
    margin: 0 25px;
    p {
      padding: 0 20px;
    }
  }
  // END // slick slider
  .home-cta-2 {
      background-color: transparent;
      display: block;
      position: relative;
      z-index: 3;
      h3 {
        color: white;
        margin-top: -68px;
        font-size: 1.75rem;
      }

      .cta-2-left {
        width: 49%;
        display: inline-block;
        float: none;
        margin-top: 65px;
        padding-left: 8%;
      }
      .cta-2-right {
        width: 50%;
        display: inline-block;
        float: none;
        position: relative;
        top: -60px;
        padding:0 0 20px 15px;
        h4 {
        }
        p {
          padding-bottom: 20px;
        }
      }
    }



  // footer


}
